{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="/admin/" role="button">Log in</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="center">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>&nbsp;&nbsp;&nbsp;&nbsp;{% include "_brandname.html" %}</h1>
		  <form class="form" method="post" action="." >
			{%csrf_token%}
            <input type="text" placeholder="Enter your symptoms" class="form-control input-lg" name="symptoms" />
			<br />
			<br />
			<input type="submit" class="btn btn-primary btn-block" value="Search" />
		  </form>
        </div>

      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>
{%if diseases %}
<div class="container" id="possibilities">
  <strong><h1>POSSIBLE SYMPTOMS:
     {%for symp in symps %}{{symp}},{%endfor%}</h1></strong>
  <strong><h1>POSSIBLE DISEASES :</h1></strong>
  <div class="row">
    {% for disease in diseases %}
    <div class="col-lg-4">
      <h2>{{disease.d_name|default_if_none:"Name not found"}}</h2>
      <p>{{disease.d_desc}}</p>
      <p><strong>  Symptoms: </strong><br />
          {% for sym in disease.d_symp.all%}
 		{{sym|title}} <br /> 
          {% endfor %}
      </p>
      <p>
        {%if disease.d_doctor_1%}
            {{disease.d_doctor_1}}
        {%endif%}
      </p>
      <p>
        {%if disease.d_doctor_2%}
            {{disease.d_doctor_2}}
        {%endif%}
      </p>
      <p>
        {%if disease.d_doctor_3%}
            {{disease.d_doctor_3}}
        {%endif%}
      </p>
    <p>
       <button id="{{disease.did}}" class="btn btn-success">This is it</button>
     </p> 
    </div>
    {% endfor %}
  </div>
</div>
<script>
	document.getElementById('possibilities').scrollIntoView();
</script>
{%endif%}
{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
<script>
        var symps = " [{%for s in symps%} '{{s}}',{% endfor %}]";
	$(".btn-success").on('click',function(){
                var id = this.id;
		$.ajax({
			url : "/learn/",
                        method : "POST",
			data : {
				'csrfmiddlewaretoken' : "{{csrf_token}}",
				'symptoms': symps,
 				'id': id,
			},
			success : function(data){alert("Thanks for letting us know.")},
			error : function(data){alert("Some code messed up. Sorry. Mind trying once again ?")}		
		});
	});
</script>
{% endblock scripts %}

